@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="id" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Title -->
    <title>Không tìm thấy trang</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/Resources/logo.png">
    <link rel="stylesheet" href="~/admin/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <style>
        #footer {
            text-align: center;
            position: fixed;
            width: 100%;
            bottom: 0px
        }
    </style>
</head>

<body class="bg-dark text-white py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-2 text-center">
                <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />404 - Không tìm thấy</p>
            </div>
            <div class="col-md-10">
                <h3>OPPSSS!!!! Thật xin lỗi...</h3>
                <p>Rất tiếc, chúng tôi không tìm thấy trang bạn yêu cầu, có thể đã bị xóa hoặc là bạn đã nhập sai gì đó. <br /> Vui lòng quay lại trang trước để tiếp tục duyệt.</p>
                <a class="btn btn-danger" href="javascript:history.back()">Quay lại</a>
            </div>
        </div>
    </div>

    <div id="footer" class="text-center">
        <a href="/">Món Ngon Mỗi Ngày</a>, &copy; 25/05/2022
    </div>
</body>
</html>