@{
    ViewData["Title"] = "Thông Tin Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.LienHe = "active";
}

<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="row" style="background: #fff">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2>Thông Tin</h2>
                    <p>
                        Món Ngon Mỗi Ngày là trang web giúp bạn có thể thỏa mãn niềm đam mê ăn uống.
                    </p>
                    <p>
                        Đến với chúng tôi bạn có thể tìm kiếm món ăn yêu thích của bạn ở bất cứ nơi đâu và bất cứ lúc nào.
                        Ngoài ra bạn cũng có thể chia sẻ món ăn yêu thích của bản thân để cho mọi người được biết đến nhiều hơn.
                    </p>
                    <p>
                        Bạn cô đơn? Bạn không có "gấu" để đi ăn cùng?
                        Hãy đến với chúng tôi, bạn có thể tìm thấy nhiều bạn bè trên khắp mọi miển đất nước, từ đây bạn không còn sợ cô đơn khi đi ăn nữa.
                    </p>
                    <p>
                        Bạn là người kinh doanh ẩm thực? Bạn không biết thế nào để quản bá sản phẩm của mình?
                        Đừng lo, hãy đến với chúng tôi. Bạn chỉ cần tạo tài khoản, đăng những món ăn của mình lên thì sẽ có rất nhiều người biết đến và tìm đến cửa hàng của bạn.
                    </p>
                    <p>
                        Món Ăn Mỗi Ngày - Chia sẻ đam mê - Kết nối yêu hương - Đưa tinh hoa ẩm thực đến với mọi miền đất nước.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="contact-info-left">
                    <h2>Liên Hệ</h2>
                    <p>Món Ngon Mỗi Ngày - Lựa chọn tốt nhất cho những bữa ăn</p>
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i>Địa chỉ: 3/2, Ninh Kiều, Cần Thơ.</p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-square"></i>Sđt: <a href="tel:+84-833229121">+84-833 229 121</a></p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope"></i>Email: <a href="mailto:monngonmoingay@gmail.com">monngonmoingay@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Teams -->
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="hover-team" style="background: #fff">
                    <div class="our-team">
                        <img src="~/Content/Images/Resources/avt-default.png" alt="" />
                        <div class="team-content">
                            <h3 class="title">Triệu Nguyễn Khánh Băng</h3> <span class="post">Trưởng Nhóm</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://fb.com/tnkbang" data-toggle="tooltip" title="Facebook" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" data-toggle="tooltip" title="Zalo" class="fa fa-comment"></a>
                            </li>
                            <li>
                                <a href="mailto:trieukhanhbang123@gmail.com" data-toggle="tooltip" title="Google" class="fab fa-google-plus"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fas fa-id-card" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description" style="padding-left: 15px">
                            <p>- Xây dựng chức năng đăng nhập - đăng ký</p>
                            <p>- Xây dựng chức năng đăng bài - chỉnh sửa</p>
                            <p>- Xây dựng chức năng lưu bài</p>
                            <p>- Xây dựng chức năng quản lý người dùng</p>
                            <p>- Xây dựng chức năng chat - thông báo</p>
                            <p>- Sửa lỗi và thiết kế UI </p>
                        </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="hover-team" style="background: #fff">
                    <div class="our-team">
                        <img src="~/Content/Images/Resources/avt-default.png" alt="" />
                        <div class="team-content">
                            <h3 class="title">Phạm Minh Nhựt</h3> <span class="post">Thành viên</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://fb.com" data-toggle="tooltip" title="Facebook" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" data-toggle="tooltip" title="Zalo" class="fa fa-comment"></a>
                            </li>
                            <li>
                                <a href="mailto:abc@gmail.com" data-toggle="tooltip" title="Google" class="fab fa-google-plus"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fas fa-id-card" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description" style="padding-left: 15px">
                            <p>- Xây dựng chức năng quản lý bài đăng</p>
                            <p>- Xây dựng chức năng đề cử bài đăng</p>
                            <p>- Xây dựng chức năng yêu thích</p>
                            <p>- Xây dựng chức năng giỏ hàng</p>
                            <p>- Kiểm thử</p>
                            <p>&nbsp;</p>
                        </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="hover-team" style="background: #fff">
                    <div class="our-team">
                        <img src="~/Content/Images/Resources/avt-default.png" alt="" />
                        <div class="team-content">
                            <h3 class="title">Triệu Bảo Long</h3> <span class="post">Thành viên</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://fb.com" data-toggle="tooltip" title="Facebook" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" data-toggle="tooltip" title="Zalo" class="fa fa-comment"></a>
                            </li>
                            <li>
                                <a href="mailto:abc@gmail.com" data-toggle="tooltip" title="Google" class="fab fa-google-plus"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fas fa-id-card" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description" style="padding-left: 15px">
                            <p>- Xây dựng chức năng đẩy - ẩn bài đăng</p>
                            <p>- Xây dựng chức năng phản hồi</p>
                            <p>- Xây dựng chức năng tìm kiếm</p>
                            <p>- Xây dựng trang index người dùng</p>
                            <p>- Kiểm thử</p>
                            <p>&nbsp;</p>
                        </div>
                    <hr class="my-0">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->